body {
    background-image: url(https://img.bleacherreport.net/img/images/photos/003/812/078/hi-res-6c075339f219d3d34c3f7a5869cfcab0_crop_north.jpg?1559673230&w=3072&h=2048);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-size: 1560px 1040px;

}

/* UFC logo */
#logo img {
    position: absolute;
    top: 0px;
    right: 50px;
    height: 100px;
    width: 100px;

}

/* Score Board */
#box1 {
    position: absolute;
    background-color: rgb(234, 0, 0);
    text-align: center;
    color: white;
    height: 50px;
    width: 150px;
    bottom: 140px;
    left: 500px;
}

#counter {
    position: absolute;
    background-color: rgb(62, 62, 62);
    text-align: center;
    color: white;
    height: 50px;
    width: 220px;
    bottom: 140px;
    left: 650px;
}

#box2 {
    position: absolute;
    background-color: rgb(10, 144, 0);
    text-align: center;
    color: white;
    height: 50px;
    width: 150px;
    bottom: 140px;
    left: 870px;
}